//Created by lollipop 2017/12/13
.box5 {
  .beyond {
    @include px2rem(margin-top, 50px);
    @include px2rem(height, 140px);
    position: relative;
    text-align: center;
    .win {
      z-index: -1;
      @include px2rem(top, 0px);
      @include px2rem(width, 551px);
      @include px2rem(height, 140px);
    }
    .num {
      font-family: 'bebas';
      color: #fff;
      @include font-dpr(30px);
      @include px2rem(line-height, 80px);
    }
  }
  .hint {
    @include px2rem(margin-top, 5px);
    color: #96e3e9;
    text-align: center;
    @include font-dpr(14px);
    white-space: nowrap;
  }
  .wholeeva {
    @include px2rem(margin-top, 60px);
    @include px2rem(margin-bottom, 450px);
    position: relative;
    //font-family: 'fzktjt';
    text-align: center;
    color: #81c9cf;
    .evabg {
      z-index: -1;
      @include px2rem(width, 492px);
      @include px2rem(height, 416px);
    }
    .eva-text {
      font-family: 'fzktjt';
      @include px2rem(padding-top, 76px);
    }
    h2{
      @include font-dpr(17px);
    }
    h3 {
      @include font-dpr(12px);
      @include px2rem(line-height, 44px);
    }
    .seal {
      @include px2rem(top, 278px);
      @include px2rem(right, 32px);
      @include px2rem(width, 203px);
      @include px2rem(height, 200px);
    }
  }
  .qr-code {
    @include px2rem(top, 703px);
    @include px2rem(width, 193px);
    @include px2rem(height, 206px);
  }
  .announce {
    animation: transferHighlightIn 1s infinite alternate ease-in-out;
    @include px2rem(top, 952px);
    @include px2rem(margin-bottom, 36px);
    @include px2rem(bottom, 36px);
    @include px2rem(width, 409px);
    @include px2rem(height, 42px);
  }
}