//created by lollipop 2017/11/21
head
    meta(charset="utf-8")
    script(src="js/flexible.js")
    script(src="js/flexible_css.js")
    link(rel="stylesheet", type="text/css", href="vendor/normalize-css/normalize.css")
    link(rel="stylesheet", type="text/css", href="vendor/swiper/dist/css/swiper.min.css")
    link(rel="stylesheet", type="text/css", href="styles/animate.min.css")
    link(rel="apple-touch-icon", href="favicon.png")
    link(rel="Shortcut Icon", type="image/x-icon", href="favicon.png")
    link(rel="stylesheet", type="text/css", href="styles/index.css")
