//created by lollipop 2017/12/7
.page-wrapper
    img.prev-page.before.ani(src="images/prev.png",swiper-animate-effect="slideInUp",swiper-animate-duration=".5s",swiper-animate-delay="1.29s")
    img.next-page.after.ani(src="images/next.png",swiper-animate-effect="slideInUp",swiper-animate-duration=".5s",swiper-animate-delay="1.39s")