//created by lollipop 2017/11/21
doctype html
html(lang='en')
    include includes/head
    body
        .loading-container
            .loading-circle.vertical-center
            span.vertical-center.number 0%
        .wrapper(style="display: none;")
            .swiper-container
                .swiper-wrapper
                    include components/box0
                    include components/box1
                    include components/box2
                    include components/box3
                    //include components/box6
                    //include components/box7
                .swiper-pagination
        include components/share_modal
        .dialog-container
            .mask
            .dialog
                .dialog_bd
                .dialog_ft
                    a.dialog_btn(href="javascript:;",onclick="bundle.closeDialog()") 知道了
        audio(id="audios",src="audio/bg.mp3",loop="loop",autoplay="autoplay")
        //- zepto
        script(src="js/zepto.min.js")
        //- swiper
        script(src="js/swiper.jquery.min.js")
        script(src="js/swiper.animate.min.js")
        //- 动画
        script(src="js/initial.js")
        script(src="js/bundle.min.js")
        //- 引用微信js-sdk文件
        script(src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js")
        script(src="js/jweixin.js")
        //- 表单
        script(src="js/formData.js")

