//created by lollipop 2018/1/15
doctype html
html(lang='en')
    include includes/head-msg
    body
        .guest-wrapper.wrapper
            .form-wrapper
                .form-top
                    h2 用户留言
                .form-content
                    p
                        | 尊敬的用户您好，非常感谢您对51金融圈的关注，如您对该调研报告有兴趣，可留言填写您的信息，我们会安排专业顾问在24小时内联系您
                    form.guest-msg
                        input(type="text" placeholder="请填写您的公司名称")
                        input(type="text" placeholder="请填写您的姓名")
                        input(type="text" placeholder="请填写您的公司电话")
                        input(type="text" placeholder="请填写你的手机号码")
                        input(type="text" placeholder="请填写您的邮箱，方便后期接收邮件")
                        textarea(placeholder="请留言您的需求，我们会尽快与您联系")
                        a(href="javascript:void(0)" class='submit')
                            img(src='images/guest-msg/submit.png')

    //- zepto
    script(src="js/zepto.min.js")