//Created by lollipop at 2017/11/22.
doctype html
html(lang='en')
    include includes/head
    body
     .nair-wrapper
         .swiper-container
             .swiper-wrapper
                 include components/box6
                 include components/box7
             .swiper-pagination
    //- zepto
    script(src="js/zepto.min.js")
    //- swiper
    script(src="js/swiper.jquery.min.js")
    script(src="js/swiper.animate.min.js")
    //- 引用微信js-sdk文件
    script(src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js")
    script(src="js/jweixin.js")
    //- 动画
    script(src="js/zepto.waypoints.min.js")
    script(src="js/bundle.min.js")
    //- radar 图
    script(src="js/echarts.min.js")
    script(src="js/returnData.js")
    //- 表单
    script(src="js/formData.js")


