//Created by lollipop 2017/11/21
.swiper-container {
  width: 100%;
}

.swiper-slide {
  background-image: url(../images/forms/bg.jpg);
  &.box0 {
    background-image: url(../images/initial/bg.jpg);
  }
  &.box7 {
    background-image: url(../images/box7/bg.jpg);
  }
  &.box8 {
    background-image: url(../images/box8/bg.jpg);
  }
  background-size: 100% 100%;
}

//header png
.header {
  position: absolute;
  top: 0;
  right: 0;
  background-image: url(../images/forms/header.png);
  @include px2rem(width,560px);
  @include px2rem(height,267px);
}


//水平居中
.justify-center {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

//居中
.vertical-center {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

//下拉箭头
.arrow-down {
  @include px2rem(width, 38px);
  @include px2rem(height, 22px);
  position: absolute;
  @include px2rem(bottom, 62px);
  left: 0;
  right: 0;
  margin: 0 auto;
  animation: webSwipeTipAfter 1.5s infinite ease-in-out;
}


