//Created by lollipop 2017/11/21
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  overflow: auto;
  position: relative;
  background-image: url(../images/forms/bg.jpg);
  &.box0 {
    background-image: url(../images/initial/bg.jpg);
  }
  &.box6 {
    background-image: url(../images/box6/bg.jpg);
  }
  &.box7 {
    background-image: url(../images/box7/bg.jpg);
  }
  background-size: 100% 100%;
}

//水平居中
.justify-center {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

//居中
.vertical-center {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

//header png
.header {
  display: block;
  position: absolute;
  top: 0;
  @include px2rem(right,32px);
  background-image: url(../images/forms/header.png);
  @include px2rem(width,591px);
  @include px2rem(height,264px);
  background-size: 100% 100%;
}

//下拉箭头
.arrow-down {
  display: block;
  @include px2rem(width, 38px);
  @include px2rem(height, 22px);
  background-image: url(../images/arrow-down.png);
  position: absolute;
  @include px2rem(bottom, 62px);
  left: 0;
  right: 0;
  margin: 0 auto;
  animation: webSwipeTipAfter 1.5s infinite ease-in-out;
  background-size: 100% 100%;
}

img {
  position: absolute;
  display: block;
}


