//created by lollipop 2017/11/21
.swiper-slide.preload.box0(data-hash="slide0")
    //测一测
    img.qn-test.ani(src="images/initial/test.png",swiper-animate-effect="zoomIn",swiper-animate-duration=".3s",swiper-animate-delay=".39s")
    //you
    img.you.ani(src="images/initial/YOU.png",swiper-animate-effect="zoomIn",swiper-animate-duration=".3s",swiper-animate-delay=".49s")
    //是否拖后腿
    img.whether.ani(src="images/initial/whether.png",swiper-animate-effect="zoomIn",swiper-animate-duration=".3s",swiper-animate-delay=".59s")
    img.tuo.ani(src="images/initial/whether.png",swiper-animate-effect="bounceIn",swiper-animate-duration=".3s",swiper-animate-delay=".69s")
    //一分钟给你想要的答案
    .little-box
        img.little-bg.ani(src="images/initial/little-bg.png",swiper-animate-effect="zoomIn",swiper-animate-duration=".3s",swiper-animate-delay=".79s")
        img.little-text.ani(src="images/initial/little-text.png",swiper-animate-effect="zoomIn",swiper-animate-duration=".3s",swiper-animate-delay=".89s")
    //闹钟
    img.alarm.ani(src="images/initial/alarm.png",swiper-animate-effect="zoomIn",swiper-animate-duration=".3s",swiper-animate-delay="0s")