//created by lollipop 2017/11/21
.swiper-slide.preload.box0(data-hash="slide0")
    //测一测
    img.qn-test.justify-center.ani(src="images/initial/test.png",swiper-animate-effect="zoomIn",swiper-animate-duration=".3s",swiper-animate-delay=".39s")
    //you
    img.you.justify-center.ani(src="images/initial/YOU.png",swiper-animate-effect="zoomIn",swiper-animate-duration=".3s",swiper-animate-delay=".49s")
    //是否拖后腿
    img.whether.justify-center.ani(src="images/initial/whether.png",swiper-animate-effect="zoomIn",swiper-animate-duration=".3s",swiper-animate-delay=".59s")
    img.delay.ani(src="images/initial/delay.png",swiper-animate-effect="bounceIn",swiper-animate-duration=".3s",swiper-animate-delay=".69s")
    img.leg.ani(src="images/initial/leg.png",swiper-animate-effect="bounceIn",swiper-animate-duration=".3s",swiper-animate-delay=".99s")
    img.question.ani(src="images/initial/question.png",swiper-animate-effect="bounceIn",swiper-animate-duration=".3s",swiper-animate-delay=".99s")
    //一分钟给你想要的答案
    .little-box.justify-center
        img.little-bg.justify-center.ani(src="images/initial/little-bg.png",swiper-animate-effect="zoomIn",swiper-animate-duration=".3s",swiper-animate-delay=".79s")
        img.little-text.vertical-center.ani(src="images/initial/little-text.png",swiper-animate-effect="zoomIn",swiper-animate-duration=".3s",swiper-animate-delay=".89s")
    //闹钟
    img.alarm.justify-center.ani(src="images/initial/alarm.png",swiper-animate-effect="zoomIn",swiper-animate-duration=".3s",swiper-animate-delay="0s")