//created by lollipop 2017/11/21
.swiper-slide.preload.box1(data-hash="slide1")
    .header.ani(swiper-animate-effect="slideInRight",swiper-animate-duration=".5s",swiper-animate-delay=".09s")
    .arrow-down.justify-center.ani(swiper-animate-effect="slideInBottom",swiper-animate-duration=".5s",swiper-animate-delay=".19s")
