//created by lollipop 2017/12/13
.swiper-slide.preload.box4(data-hash="slide4")
    //测试结果
    img.test-result.justify-center.ani(src="images/box4/testresult.png",swiper-animate-effect="zoomIn",swiper-animate-duration=".3s",swiper-animate-delay=".19s")
    //经计算
    img.calcu.justify-center.ani(src="images/box4/calcu.png",swiper-animate-effect="zoomIn",swiper-animate-duration=".3s",swiper-animate-delay=".29s")
    //薪资
    .salary.ani(swiper-animate-effect="zoomIn",swiper-animate-duration=".3s",swiper-animate-delay=".39s")
        #salary.num 30000
        .yuan.ani(swiper-animate-effect="zoomIn",swiper-animate-duration=".3s",swiper-animate-delay=".49s")
    //雷达图
    .radar.ani(swiper-animate-effect="zoomIn",swiper-animate-duration=".3s",swiper-animate-delay=".59s")
        #main.chart(src="images/box4/radar.png")
    //
    #benefit.benefit.justify-center.ani(swiper-animate-effect="zoomIn",swiper-animate-duration=".3s",swiper-animate-delay=".69s")
    .next-arrow