//created by lollipop 2017/12/13
.swiper-slide.preload.box5(data-hash="slide5")
    //薪酬完胜
    .beyond
        img.win.justify-center.ani(src="images/box5/morethan.png",swiper-animate-effect="zoomIn",swiper-animate-duration=".3s",swiper-animate-delay=".19s")
        span#num.num.ani(swiper-animate-effect="zoomIn",swiper-animate-duration=".3s",swiper-animate-delay=".69s") 86%
    //（您没有拖金融行业薪资后腿哦！）
    #hint.hint.ani(swiper-animate-effect="zoomIn",swiper-animate-duration=".3s",swiper-animate-delay=".29s")
        | 您没有拖金融行业薪资后腿哦！
    //整体评测
    .wholeeva
        img.evabg.justify-center.ani(src="images/box5/wholeeva.png",swiper-animate-effect="zoomIn",swiper-animate-duration=".3s",swiper-animate-delay=".39s")
        .eva-text
            h2.ani(src="images/box5/wholeeva.png",swiper-animate-effect="zoomIn",swiper-animate-duration=".3s",swiper-animate-delay=".79s") 整体评测：
            h3.ani(src="images/box5/wholeeva.png",swiper-animate-effect="zoomIn",swiper-animate-duration=".3s",swiper-animate-delay=".99s")
                | 身处
                span#industrydescribe
                | 领域，
            h3.ani(src="images/box5/wholeeva.png",swiper-animate-effect="zoomIn",swiper-animate-duration=".3s",swiper-animate-delay=".99s")
                | 作为企业的
                span#functiondescribe
                | ，
            h3.ani(src="images/box5/wholeeva.png",swiper-animate-effect="zoomIn",swiper-animate-duration=".3s",swiper-animate-delay="1.09s")
                | 却犹如
                span#worktimedescribe
                | 一般存在，
            h3#txt1.ani(src="images/box5/wholeeva.png",swiper-animate-effect="zoomIn",swiper-animate-duration=".3s",swiper-animate-delay="1.19s")
                | 可谓是企业不可或缺的人才！
            h3#txt2.ani(src="images/box5/wholeeva.png",swiper-animate-effect="zoomIn",swiper-animate-duration=".3s",swiper-animate-delay="1.29s")
                | 我们做朋友可好?
        //盖章
        img.seal.ani(src="images/box5/seal.png",swiper-animate-effect="zoomIn",swiper-animate-duration=".3s",swiper-animate-delay="1.39s")
    //二维码
    img.qr-code.justify-center.ani(src=`images/box5/qrcode.png`,swiper-animate-effect="zoomIn",swiper-animate-duration=".3s",swiper-animate-delay=".49s")
    //告知好友
    img.announce.justify-center.ani(src=`images/box5/announce.png`,swiper-animate-effect="zoomIn",swiper-animate-delay=".59s")