//created by lollipop 2017/11/21
.swiper-slide.preload.box7(data-hash="slide7")
    //经计算
    img.computed.justify-center.ani(src="images/box7/computed.png",swiper-animate-effect="zoomIn",swiper-animate-duration=".3s",swiper-animate-delay=".19s")
    #salary.num.justify-center.ani(src="images/box7/num.png",swiper-animate-effect="zoomIn",swiper-animate-duration=".3s",swiper-animate-delay=".29s")
        | 30000
    .radar
        #main.chart.justify-center(swiper-animate-effect="zoomIn",swiper-animate-duration=".3s",swiper-animate-delay=".69s")
        //<div id="main" style="width: 600px;height:400px;"></div>
        //img.chart.justify-center.ani(src="images/box7/chart.png",swiper-animate-effect="zoomIn",swiper-animate-duration=".3s",swiper-animate-delay=".69s")
    img.lemons.justify-center.ani(src="images/box7/lemons.png",swiper-animate-effect="zoomIn",swiper-animate-duration=".3s",swiper-animate-delay=".39s")
    img.dance.justify-center.ani(src="images/box7/dance.png",swiper-animate-effect="zoomIn",swiper-animate-duration=".3s",swiper-animate-delay=".49s")
    img.logo51jrq.justify-center.ani(src="images/box7/logo51jrq.png",swiper-animate-effect="zoomIn",swiper-animate-duration=".3s",swiper-animate-delay=".59s")