//created by lollipop 2017/11/23
.share_modal
    .share-modal-mask
    .share-modal-wrap
        img.curve(src="images/modal/curve.png")
        .steps
            img.step1(src="images/modal/step1.png")
            img.step2(src="images/modal/step2.png")
        img.succ.justify-center(src="images/modal/succ.png")
        img.hint.justify-center(src="images/modal/hint.png")
        img.iknow.justify-center#iknow(src="images/modal/iknow.png")